.main-header {
  min-height: 79px;
  @media (max-width: $mobile-width) {
    box-shadow: inset 0 -1px $whisper;
  }
}

.main-header__container {
  @media (max-width: $mobile-width) {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main-header__logo {
  margin-top: 22px;
  display: inline-block;

  @media (min-width: $desktop-width) {
    margin-top: 9px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo img {
  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.main-header__navigation {
  @media (max-width: $mobile-width) {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    background-color: $white;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    max-width: 430px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: unset;
  }
}

// Burger
.main-header__toggle {
  @media (max-width: $mobile-width) {
    position: absolute;
    right: 31px;
    top: -48px;
    width: 20px;
    height: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 2px;
      background-color: $black;
      box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

// Menu close cross
.main-header__navigation--opened .main-header__toggle {
  right: 34px;
  top: -48px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 26px;
    height: 2px;
    background-color: $black;
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 26px;
    height: 2px;
    background-color: $black;
    box-shadow: none;
    transform: rotate(-45deg);
  }
}

.main-header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;

  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}

.main-header__list--user {
  @media (min-width: $desktop-width) {
    max-width: 350px;
    align-items: start;
  }
}

.main-header__list--navigation {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 410px;
    gap: 35px;
  }
}

.main-header__list--secondary {
  @media (min-width: $tablet-width) {
    gap: 10px 36px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__list--tertiary {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 10px 63px;
    max-width: 460px;
  }
}

.main-header__navigation--closed .main-header__list {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-header__navigation--opened .main-header__list {
  @media (max-width: $mobile-width) {
    display: block;
  }
}

.main-header__navigation--nojs {
  @media (max-width: $mobile-width) {
    position: static;
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-top: 17px;
    box-shadow: inset 0 1px $whisper;
  }
}

.main-header__navigation--nojs .main-header__list {
  @media (max-width: $mobile-width) {
    position: static;
    display: block;
  }
}

.main-header__navigation--nojs .main-header__toggle {
  display: none;
}

.main-header__item {
  text-align: left;

  @media (max-width: $mobile-width) {
    box-shadow: inset 0 -1px $whisper;
  }
}

.main-header__item--navigation {
  @media (min-width: $desktop-width) {
    border-right: 1px solid $whisper;
  }
}

.main-header__item--navigation:nth-child(2) {
  @media (min-width: $desktop-width) {
    border: none;
  }
}

.main-header__item--user {
  @media (min-width: $tablet-width) {
    box-shadow: inset 1px 0 $whisper;
    min-width: 82px;
    min-height: 88px;
  }
}

.main-header__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: $black;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 30px 24px 25px 76px;
  box-sizing: border-box;
  position: relative;

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.main-header__link--user {
  @media (min-width: $tablet-width) {
    padding: 33px 0 10px 83px;
    max-width: 280px;
  }
}

.main-header__link--navigation {
  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding: 34px 35px 10px 0;
  }
}

.main-header__link--secondary {
  padding: 0;
  font-size: 15px;
}

.main-header__link--tertiary {
  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 15px;
  }
}

.main-header__text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__icon {
  position: absolute;
  left: 31px;
  top: 32px;
  fill: $black;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    left: 33px;
    top: 35px;
  }
}

.main-header__link:hover .main-header__icon {
  opacity: 1;
  fill: $downy;
}

.main-header__link:active .main-header__icon {
  opacity: 0.3;
  fill: $downy;
}

.main-header__secondary {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    box-shadow: inset 0 1px $whisper;
    background-color: $snow;
  }
}

.main-header__secondary {
  @media (min-width: $tablet-width) {
    background-color: $snow;
  }
}

.main-header__secondary--form {
  @media (min-width: $tablet-width) {
    background-color: $white-smoke;
  }
}

.main-header__secondary-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 15px;
  padding-top: 21px;
  padding-bottom: 20px;
}

.main-header__additional-text {
  font-size: 15px;
  line-height: 24px;
  color: $charcoal;
  margin: 0;
  justify-self: end;
}
