.cards {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 114px;
  }
}

.cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: $tablet-width) {
    gap: 54px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 50px;
  }
}

.cards__item {
  padding-bottom: 26px;
  outline: 1px solid $gallery;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 334px 1fr;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 316px;
  }
}

.cards__picture {
  display: block;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    margin: 0;
  }
}

.cards__image {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    height: 462px;
  }
}

.cards__title {
  margin: 0 28px 6px;
  text-decoration: none;
  color: $black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 27px 33px 6px;
    max-width: 240px;
  }

  @media (min-width: $desktop-width) {
    margin: 27px 28px 5px;
  }
}

.cards__description {
  margin: 0 28px 17px;
  font-size: 13px;
  line-height: 30px;
  color: $charcoal;

  @media (min-width: $tablet-width) {
    margin: 0 33px 17px;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 28px 12px;
    flex-grow: 1;
  }
}

.cards__price-container {
  margin: 0 28px;
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $gallery;

  @media (min-width: $tablet-width) {
    grid-row: 4 / 5;
    margin: 0 33px;
    padding-top: 24px;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 28px;
  }
}

.cards__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  max-width: 150px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.cards__button {
  padding: 0;
  background-color: transparent;
  border: none;
  align-self: end;
}

.cards__icon {
  fill: rgba($black, 0.2);
}

.cards__button:hover .cards__icon {
  fill: $downy;
}

.cards__button:active .cards__icon {
  fill: rgba($downy, 0.3);
}
