.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.9);
  z-index: 2;
}

.modal--closed {
  display: none;
}

.modal__window {
  position: relative;
  margin: 116px auto auto;
  padding: 28px 29px 46px;
  background-color: $white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: $tablet-width) {
    width: 568px;
    padding-top: 37px;
  }
}

.modal__large-text {
  margin: 0 0 15px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 13px;
  }
}

.modal__button {
  font-size: 17px;
  line-height: 16px;
  color: $white;
  border: none;
  background-color: $downy;
  width: 100%;
  min-height: 52px;
}
