.order-form {
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.order-form__slogan {
  margin: 0 30px 27px;
  color: $charcoal;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin: 0 auto 63px;
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
  }
}

.order-form__select {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__select--contact {
  @media (min-width: $tablet-width) {
    background-color: $white-smoke;
    padding-top: 48px;
    padding-bottom: 28px;
    margin-bottom: 50px;
  }
}

.order-form__radio-container {
  @media (max-width: $mobile-width) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.order-form__checkbox-container {
  @media (max-width: $mobile-width) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 52px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.order-form__name-container {
  @media (max-width: $mobile-width) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 36px 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    grid-template-columns: 98px 1fr;
  }
}

.order-form__contact-container {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 146px 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px 0 110px;
    grid-template-columns: 95px 1fr;
  }
}

.order-form__contact-container:first-child {
  @media (max-width: $mobile-width) {
    margin-top: 8px;
  }
}

.order-form__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $downy;
  background-color: $white;
  text-transform: uppercase;
  max-width: 150px;
  display: inline-block;
  margin: 0;

  @media (max-width: $mobile-width) {
    padding: 0 23px 0 0;

    &::before {
      position: absolute;
      content: "";
      width: calc(100% - 60px);
      height: 1px;
      background-color: $downy;
      z-index: -1;
      top: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
    overflow-wrap: break-word;
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100px;
  }
}

.order-form__field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 25px;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    max-width: 698px;
  }
}

.order-form__field-wrapper:first-of-type {
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
  }
}

.order-form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
    max-width: 150px;
    margin-top: 4px;
  }
}

.order-form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid $black;
  padding: 0 0 14px;
  margin-bottom: 23px;
  color: $charcoal;

  &:hover {
    border-color: $downy2;
  }

  &:not(:placeholder-shown) {
    border-color: $downy2;
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
    padding-bottom: 12px;
    padding-left: 17px;
    flex-grow: 1;
    margin-bottom: 0;
    align-self: end;
  }
}

.order-form__input::placeholder {
  color: rgba($black, 0.3);
}

.order-form__input--contact {
  margin-bottom: 32px;
  padding-bottom: 17px;
  width: 100%;

  @media (max-width: $mobile-width) {
    margin-top: 16px;
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
    margin-bottom: 22px;
    margin-top: 12px;
    padding-bottom: 14px;
    width: unset;
  }
}

.order-form__icon {
  position: absolute;
  right: 37px;
  bottom: 48px;
  color: rgba($black, 0.2);

  @media (min-width: $tablet-width) {
    right: 74px;
    bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    right: 230px;
  }
}

.order-form__input--contact:hover + .order-form__icon {
  color: $downy2;
}

.order-form__input--contact:not(:placeholder-shown) + .order-form__icon {
  color: $downy2;
}

.order-form__optional-container {
  margin-bottom: 17px;

  @media (max-width: $mobile-width) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 128px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px 0 112px;
    gap: 74px;
    margin-bottom: 50px;
  }
}

.order-form__optional {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  display: block;
  padding: 15px;
  border: 2px solid $charcoal;
  width: 100%;
  box-sizing: border-box;
  min-height: 141px;
  resize: none;
  margin-top: 20px;

  &:hover {
    border-color: $downy2;
  }

  &:not(:placeholder-shown) {
    border-color: $downy2;
  }

  @media (min-width: $tablet-width) {
    width: 75%;
    font-size: 19px;
    line-height: 18px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.order-form__optional::placeholder {
  color: rgba($black, 0.3);
}

.order-form__requirement-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 41px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px;
  }
}

.order-form__requirement {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 16px;
  color: $charcoal;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}

.order-form__button {
  font-size: 17px;
  line-height: 16px;
  width: 100%;
  min-height: 52px;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    width: unset;
    min-width: 230px;
    margin-bottom: 10px;
  }
}
