.production__container {
  margin: 0 30px 60px;
  padding-top: 22px;
  padding-bottom: 33px;
  outline: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    margin: 0 50px 66px;
    padding-bottom: 0;
    display: grid;
    outline: none;
    position: relative;

    //Decorative frame
    &::before {
      position: absolute;
      content: "";
      grid-row: 2 / 5;
      width: 100%;
      height: 100%;
      border: 1px solid $gallery;
    }
  }
}

.production__title {
  margin: 0 0 26px;
  padding-left: 91px;
  font-size: 17px;
  line-height: 24px;
  background-image: url("../img/catalog/video/camera.svg");
  background-repeat: no-repeat;
  background-position: top 13px left 34px;
  min-height: 48px;
  max-width: 240px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    max-width: 600px;
    padding-left: 107px;
    background-position: top 9px left 42px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 12px;
  }
}

.production__video {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    margin-bottom: 0;
  }
}

.production__image {
  width: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 455px;
  }
}

.production__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  padding: 0;
}

.production__description {
  margin: 0 33px 40px;
  font-size: 13px;
  line-height: 24px;
  color: $charcoal;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    margin: 0 40px 40px;
  }
}

.production__button {
  max-width: 192px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 584px;
    max-width: unset;
    margin-bottom: 44px;
  }
}
