.promo {
  padding-top: 31px;
  padding-bottom: 1px;
  background-image: url("../img/general/wavy-line-mobile.svg");
  background-repeat: repeat-x;
  background-position: bottom;

  @media (min-width: $tablet-width) {
    background-image: url("../img/general/wavy-line-tablet.svg");
    padding-top: 40px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    background-image: none;
  }
}

.promo__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: minmax(292px, 1fr) 2fr;
    gap: 0 42px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/general/wavy-line-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: calc(100% - 100px) 23px;
    position: relative;
    padding-top: 74px;
    grid-template-columns: 475px 1fr;
    gap: 0;
    padding-bottom: 52px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    grid-column: 1 / 3;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: left;
    margin-left: 19px;
    gap: 10px 30px;
  }
}

.promo__product-name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 4px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.promo__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $downy;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 17px;
    max-width: 126px;
    text-align: center;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 9px;
  }
}

.promo__description {
  font-size: 15px;
  line-height: 24px;
  color: $charcoal;
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    grid-column: 1 / 2;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    max-width: 300px;
    justify-self: right;
    margin-bottom: 58px;
  }
}

.promo__list {
  margin: 0 0 28px;
  color: $charcoal;
  font-size: 15px;
  line-height: 20px;
  display: grid;
  grid-template-columns: minmax(98px, 1fr) 2fr;
  gap: 7px 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    justify-self: right;
    margin-bottom: 113px;
  }
}

.promo__term {
  box-shadow: inset 0 -1px $gallery;
  padding-bottom: 13px;
  padding-right: 5px;
}

.promo__list-description {
  margin: 0;
  box-shadow: inset 0 -1px $gallery;
  padding-bottom: 13px;
}

.promo__image {
  margin: 0 auto 26px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 404px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.promo__picture {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    margin-top: 12px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    top: 14px;
    right: 50px;
    grid-row: unset;
    grid-column: unset;
    z-index: -1;
  }
}

.promo__price {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $charcoal;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    grid-column: 1 / 2;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 310px;
    justify-self: right;
  }
}

.promo__button {
  width: 100%;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    justify-self: right;
    margin-right: 8px;
  }
}
