.radio-select__list {
  margin: 27px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    transform: translateX(-16px);
    gap: 33px;
    width: 332px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.radio-select__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-left: 60px;
  min-height: 42px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
    padding-left: 78px;
  }
}

.radio-select__input[type="radio"]:checked + .radio-select__mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: $downy2;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.radio-select__input:hover + .radio-select__mark {
  border-color: $downy2;
}

.radio-select__input:active + .radio-select__mark {
  border-color: rgba(0, 0, 0, 0.3);
}

.radio-select__input:focus-visible + .radio-select__mark {
  outline: 2px solid $downy;
  outline-offset: 3px;
}

.radio-select:disabled + .radio-select__mark {
  cursor: not-allowed;
  opacity: 0.2;
}

.radio-select__mark {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid $charcoal;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }
}
