.review {
  padding-top: 57px;
  padding-bottom: 50px;
  background-image: url("../img/general/wavy-line-mobile.svg");
  background-repeat: repeat-x;
  background-position: bottom;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 104px;
    background-image: url("../img/general/wavy-line-tablet.svg"), url("../img/review/review-background.jpg");
    background-repeat: repeat-x, no-repeat;
    background-position: bottom, left top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/general/wavy-line-tablet.svg"), url("../img/review/review-background@2x.jpg");
      background-size: auto, 350px auto;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: none;
    padding-top: 7px;
    padding-bottom: 21px;
  }
}

.review__container {
  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/general/wavy-line-desktop.svg"), url("../img/review/review-background.jpg");
    background-repeat: no-repeat;
    background-position: bottom, left 50px top 0;
    min-height: 457px;
    padding-top: 75px;
    padding-bottom: 156px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/general/wavy-line-desktop.svg"), url("../img/review/review-background@2x.jpg");
      background-size: auto, 350px auto;
    }
  }
}

.review__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 14px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    position: absolute;
    top: -89px;
    max-width: 340px;
    max-height: 64px;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    top: 78px;
    left: 224px;
  }
}

.review__slider {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 12vw;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-top: 92px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 96px;
    gap: 0;
  }
}

.review__slider-item {
  flex-shrink: 0;
  max-width: 80vw;

  @media (min-width: $tablet-width) {
    max-width: 88vw;
  }

  @media (min-width: $desktop-width) {
    max-width: 976px;
  }
}

.review__blockquote {
  margin: 0 0 27px;
  font-size: 15px;
  line-height: 30px;
  color: $charcoal;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 174px;
  }
}

.review__name {
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: $black;
  margin: 31px 0 0;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    margin-top: 60px;
    max-width: 400px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 44px;
    font-size: 17px;
  }
}

.review__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: $charcoal;
  margin: 4px 0 0;

  @media (min-width: $tablet-width) {
    line-height: 35px;
    max-width: 400px;
    margin-top: 0;
  }
}

.review__control-container {
  margin-bottom: 38px;
  display: flex;
  border: 1px solid $gallery;
  width: fit-content;

  @media (min-width: $tablet-width) {
    border: none;
    position: absolute;
    bottom: 31px;
    right: 50px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 189px;
    right: 50px;
  }
}

.review__control {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 130px;
  height: 52px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 85px;
  }
}

.review__icon {
  transform: translate(-3px, 2px);
}

.review__control:last-child .review__icon {
  transform: translate(-2px, 2px) rotate(180deg);
}

.review__control:first-child {
  @media (max-width: $mobile-width) {
    box-shadow: inset -1px 0 $gallery;
  }
}

.review__control:hover .review__icon {
  opacity: 0.6;
}

.review__control:active .review__icon {
  opacity: 0.3;
}

.review__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 50px;
    top: -93px;
    width: unset;
    min-width: 175px;
    max-width: 300px;
    max-height: 82px;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    top: 79px;
    right: 50px;
  }
}
